.condarc
*.err
*.out
*.html
*.rds
nohup.out
slurm-*.out
sps-*
af_home/**
reports/**
results/**
resources/**
logs/**
.cache/
.conda/
.snakemake
.snakemake/**
.Rproj.user
snakemake-cncb-ensembl-2024.Rproj
