.condarc
.Rprofile
.Rproj.user
export.yaml
nohup.out
renv.lock
snakemake-cncb-ensembl-2024.Rproj
*.err
*.out
*.html
*.rds
slurm-*.out
sps-*
af_home/**
reports/**
renv/**
results/**
resources/**
logs/**
.cache/**
.conda/**
.snakemake/**
.snakemake/**

